[submodule "NativeComponents/ImGuizmo"]
	path = NativeComponents/ImGuizmo
	url = https://github.com/ktisis-tools/ImGuizmo.git
	branch = master
[submodule "NativeComponents/ImGui"]
	path = NativeComponents/ImGui
	url = https://github.com/ktisis-tools/gc-imgui.git
	branch = ktisis/1.88-enhanced-abifix
